@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    background: rgb(240, 240, 240);
}

.container {
    max-width: 1170px;
    margin: auto;

    .heading {
        padding: 40px 0;

        h1 {
            text-align: center;
            color: rgb(245, 7, 7);
            font-weight: 700;
        }
    }

    .navbar {
        padding-bottom: 80px;
        display: flex;
        align-items: center;
        justify-content: center;

        li {
            list-style: none;
            padding: 0 40px;

            a {
                text-decoration: none;
                color: #fff;
                background: blueviolet;
                padding: 10px 20px;
            }
        }
    }

    .images {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
        .img-box {
            width: 270px;
            padding: 16px;
            img {
                width: 100%;
                height: 180px;
            }
        }
    }
}